@model VT_POO3.Models.Episodio

@{
    ViewData["Title"] = "Index_2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Lista de Episodio</h3>
    <a asp-controller="episodio" asp-action="add">Add Episodio</a>
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Temporada</th>
            <th>Nota</th>
            <th>Ação</th>
        </tr>
        @foreach (var episodio in ViewBag.episodios)
        {
    <tr>
        <td>@episodio.Id</td>
        <td>@episodio.Nome</td>
        <td>@episodio.Temporada</td>
        <td>@episodio.Nota</td>
        <td>
            <a asp-controller="episodio" asp-action="edite" asp-route-id="@episodio.Id"
               onclick="return confirm('')"> Edite</a>
            <a asp-controller="eposodio" asp-action="delete" asp-route-id="@episodio.Id"
               onclick="return confirm('Voce esta certo disso?')"> Delete</a>
        </td>
    </tr>
        }
    </table>

</body>
</html>
